{
    "extends": ["ao"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "no-use-before-define": "off",
        "no-console": "off",
        "consistent-this": "off",
        "no-extend-native": "off",
        "max-len": "off"
    }
}