{
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	]
}
