.ao-demo-footer {
	padding-top: aoSpace(4);
	padding-bottom: aoSpace(4);
	text-align: center;
	background-color: $aoDarkGrey;
	color: $aoLightGrey;

	ul {
		@include font-size(14);

		display: flex;
		justify-content: center;
		margin-top: 0;
		padding-left: 0;
		list-style-type: none;
	}

	li {
		margin-right: aoSpace(2);
		margin-left: aoSpace(2);

		a {
			text-decoration: none;
			color: inherit;
			transition: opacity 200ms ease-in-out;
			will-change: opacity;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}
