.ao-demo-header {
	align-items: center;
	position: fixed;
	z-index: 3;
	width: 100%;
	padding-top: aoSpace(1);
	padding-bottom: aoSpace(1);
	background-color: $green;
	color: #ffffff;

	path {
		fill: #ffffff;
	}

	.flex-container {
		width: 100%;
	}
}

.logo {
	padding-top: 0;
	padding-bottom: 0;
}

.ao-logo {
	width: aoSpace(5);
	height: aoSpace(5);

	@media (min-width: $tablet) {
		width: aoSpace(7);
		height: aoSpace(7);
	}
}

.github {
	justify-content: flex-end;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}
