/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+json+jsx+sass+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*='language-'], pre[class*='language-'] {
	position: relative;
	line-height: 1.5;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	word-wrap: normal;
	background: none;
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 2;
	hyphens: none;
}

.code-block {
	margin-top: aoSpace(4);

	label.language {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		padding: 6px 13px;
		border: 2px solid #515151;
		font-size: 13px;
		background: #484848;
		border-radius: 0 0 0 5px;
		box-shadow: 1px 1px 0;

		&.js {
			color: #d4c53a;
		}

		&.jsx {
			color: #39c0ff;
		}

		&.html {
			color: #ffffff;
		}

		&.css {
			color: #c7217a;
		}

		&.sass {
			color: rgb(207, 140, 140);
		}
	}
}

/* Code blocks */
pre[class*='language-'] {
	margin: .5em 0;
	padding: 0 1em;
	border-radius: 0.3em;
	overflow: auto;
}

:not(pre) > code[class*='language-'], pre[class*='language-'] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
	color: #f92672;
}

.token.boolean, .token.number {
	color: #ae81ff;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
	color: #a6e22e;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
	color: #f8f8f2;
}

.token.atrule, .token.attr-value, .token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex, .token.important {
	color: #fd971f;
}

.token.important, .token.bold {
	font-weight: 700;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
