
//default

.#{$flexItem} {
	display: flex;
	width: 100%;
	padding:  ($defaultGutter / 2);

	&.grow {
		flex-grow: 1;
	}
}

@for $currentRelWidth from 1 through $maxCol {
	.#{$flexContainer} > .item-#{$currentRelWidth}.#{$flexItem} {
		width: #{( $currentRelWidth * 100% / $maxCol)};
	}
}

@each $bp-el in $breakpoint-list {
	$currentPxWidth: 	nth($bp-el,1);
	$currentGutter: 	nth($bp-el,2);
	$currentViewSlug: 	nth($bp-el,3);

	.#{$flexItem} {
		@include susy-breakpoint($currentPxWidth) {
			padding:  ($currentGutter / 2);
		}
	}

	//cols bp definitions

	@for $currentRelWidth from 1 through $maxCol {
		.#{$flexContainer} > .item-#{$currentViewSlug}-#{$currentRelWidth}.#{$flexItem} {
			@include susy-breakpoint($currentPxWidth) {
				width: #{( $currentRelWidth * 100% / $maxCol)};
			}
		}
	}
}

//fallbacks

.#{$noFlexClass} .#{$flexItem} {
	display: block;
	float: left;
}

.#{$noFlexClass} .#{$flexContainer} {
	display: block;

	&::after, &::before {
		display: table;
		content: '';
		clear: both;
	}
}
