@font-face {
	font-family: 'oz';
	src:url('http://ao.com/fonts/oz/AoOz-Bold.eot?') format('eot'), url('http://ao.com/fonts/oz/AoOz-Bold.woff') format('woff'), url('http://ao.com/fonts/oz/AoOz-Bold.ttf') format('truetype'), url('http://ao.com/fonts/oz/AoOz-Bold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'oz';
	src:url('http://ao.com/fonts/oz/AoOz-Bold.eot?') format('eot'), url('http://ao.com/fonts/oz/AoOz-Bold.woff') format('woff'), url('http://ao.com/fonts/oz/AoOz-Bold.ttf') format('truetype'), url('http://ao.com/fonts/oz/AoOz-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'oz';
	src:url('http://ao.com/fonts/oz/AoOz-Regular.eot?') format('eot'), url('http://ao.com/fonts/oz/AoOz-Regular.woff') format('woff'), url('http://ao.com/fonts/oz/AoOz-Regular.ttf') format('truetype'), url('http://ao.com/fonts/oz/AoOz-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oz';
	src:url('http://ao.com/fonts/oz/AoOz-Regular.eot?') format('eot'), url('http://ao.com/fonts/oz/AoOz-Regular.woff') format('woff'), url('http://ao.com/fonts/oz/AoOz-Regular.ttf') format('truetype'), url('http://ao.com/fonts/oz/AoOz-Regular.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

%header {
    font-family: $gotham;
    line-height: $HlineHeight;
    color: inherit;
    margin: 0;
}

%paragraph {
    font-family: $fontFamily;
    line-height: $PlineHeight;
    margin: 0;
}

%header-large {
    @extend %header;
    font: {
        weight: $heavy;
    }
    @include font-size($header-large-mobile);
    @media (min-width: $desktop) {
        @include font-size($header-large);
    }
}

%header-main-plus {
    @extend %header;
    font: {
        weight: $heavy;
    }
    @include font-size($header-main-plus-mobile);
    @media (min-width: $desktop) {
        @include font-size($header-main-plus);
    }
}

%header-main {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-main-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-main);
    }
}

%header-sub {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-sub-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-sub);
    }
}

%header-content-title-plus {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-content-title-plus-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-content-title-plus);
    }
}

%header-content-title {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-content-title-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-content-title);
    }
}

%header-section {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-section-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-section);
    }
}

%header-module {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-module-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-module);
    }
}

%header-micro {
    @extend %header;
    font: {
        weight: $bold;
    }
    @include font-size($header-micro-mobile);
    strong {
        font: {
            weight: $heavy;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-micro);
    }
}

%header-nano {
    @extend %header;
    font: {
        weight: $normal;
    }
    @include font-size($header-nano-mobile);
    strong {
        font: {
            weight: $bold;
        }
    }
    @media (min-width: $desktop) {
        @include font-size($header-nano);
    }
}

%p-special {
    font: {
        family: $gotham;
		weight: $light;
    }
	line-height: $PlineHeight;
	strong {
		font-weight: $normal;
	}

    @include font-size($size-mobile-p-special);
    @media (min-width: $desktop) {
        @include font-size($size-p-special);
    }
}

%p1 {
    @extend %paragraph;
    font: {
        weight: $normal;
    }
    @include font-size($size-mobile-p1);
    @media (min-width: $desktop) {
        @include font-size($size-p1);
    }
}

%p2 {
    @extend %paragraph;
    font: {
        weight: $normal;
    }
    @include font-size($size-mobile-p2);
    @media (min-width: $desktop) {
        @include font-size($size-p2);
    }
}

%p3 {
    @extend %paragraph;
    font: {
        weight: $normal;
    }
    @include font-size($size-mobile-p3);
    @media (min-width: $desktop) {
        @include font-size($size-p3);
    }
}

%p4 {
    @extend %paragraph;
    font: {
        weight: $normal;
    }
    @include font-size($size-mobile-p4);
    @media (min-width: $desktop) {
        @include font-size($size-p4);
    }
}

%row {
    display: block;
    position: relative;
    width: 100%;
    background: {
        position: center center;
        size: cover;
    }
    overflow: hidden;
}

.ao-cta {
	display: inline-block;
	position: relative;
	min-width: 140px;
	max-width: 250px;
	padding: 11px 40px 11px 12px;
	border: 0;
	background-color: $green;
	border-radius: 4px;
	overflow: hidden;
	user-select: none;
	-webkit-appearance: none; //stylelint-disable property-no-vendor-prefix

	@include font-size(15);

	font-family: $fontFamily;
	font-weight: 700;
	text-align: left;
	color: #ffffff;
	line-height: 1.1;
	white-space: nowrap;
	text-overflow: ellipsis;

	&::after {
		display: inline-block;
		content: '\e918';
		position: absolute;
		right: 12px;
		margin-left: 12px;
		font-family: ao-icons;
		vertical-align: text-bottom;
	}

	&:hover {
		background-color: lighten($green, 10%);
		color: #ffffff;
		cursor: pointer;
	}

	&.blue {
		background-color: $color-link;

		&:hover {
			background-color: lighten($color-link, 10%);
		}
	}

	&.ghost {
		&-light {
			border: 1px solid currentColor;
			background: transparent;
			color: #ffffff;

			&:hover {
				background-color: rgba(#ffffff, 0.1);
			}
		}

		&-dark {
			border: 1px solid currentColor;
			background: transparent;
			color: $default-text-color;

			&:hover {
				background-color: rgba($default-text-color, 0.1);
			}
		}
	}

	&.link {
		&-light {
			display: table;
			min-width: auto;
			padding-left: 0;
			background: transparent;
			color: #ffffff;
			white-space: normal;

			&:hover {
				color: darken(#ffffff, 20%);
			}

			&::after {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&-dark {
			display: table;
			min-width: auto;
			padding-left: 0;
			background: transparent;
			color: $color-link;
			white-space: normal;

			&:hover {
				color: lighten($color-link, 20%);
			}

			&::after {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&.disabled {
		padding: 11px 10px;
		text-align: center;
		background-color: $grey;
		cursor: default;
		pointer-events: none;
		user-select: none;

		&:hover {
			background-color: $grey;
		}

		&::after {
			content: none;
		}
	}

	&.stacked {
		display: block;

		+ .stacked {
			margin-top: aoSpace(2);
		}
	}
}

.price-information {
	display: block;
	min-height: 32px;
	margin-top: aoSpace();
	line-height: 1;
	font-family: $fontFamily;
	font-weight: 700;
	color: $color-deal;

	@include font-size(32);

	&.has-saving {
		color: $color-deal;
	}

	span {
		vertical-align: top;
	}

	.savings {
		@include font-size(11);

		display: inline-block;
		margin-top: 2px;
		margin-left: 4px;
		font-weight: 400;
		line-height: 1.2;
		color: $color-text;

		.percentage { /* stylelint-disable-line selector-max-compound-selectors */
			display: block;
			font-weight: 700;
			color: $color-deal;
		}
	}
}

.flex-inner {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: aoSpace(2);
	padding-left: aoSpace(2);

	@media (min-width: $tablet) {
		width: $tablet;
	}

	@media (min-width: $desktop) {
		width: $desktop;
	}

	@media (min-width: $uber) {
		width: $uber;
	}

	&.col {
		flex-direction: column;

		&-reverse {
			flex-direction: column-reverse;
		}
	}

	&.row {
		flex-direction: row;

		&-reverse {
			flex-direction: row-reverse;
		}
	}

	.no-flexwrap & {
		display: block;
	}
}
